# GUI libraries
customtkinter
tkcalendar
Pillow
tkintermapview  # includes customtkinter and Pillow as dependencies

# Scientific / Data
numpy<2
pandas==2.2.3          # depends on numpy<2
matplotlib
pyomo
openpyxl

# Platform-specific / solver
brightway25; sys_platform == "darwin"  # MacOS Apple Silicon
brightway25
pypardiso; sys_platform == "win32"     # Windows only
highspy  # optional, if using HiGHS solver

pyinstaller