body{
    background-color: #eaeaea;
    font-family: Helvetica, sans-serif;
    color: #4b4b4b;
    text-align: justify;
    font-size: 15px;
}
header {
  display: grid;
  grid-template-columns: auto 1fr; /* two columns: logo and title */
  justify-content: space-between; /* logo on left, title on right */
  align-items: center;           /* vertically align items */
  padding: 10px 20px;
  background-color: #cfcfcf;
}

header h1 {
    text-align: center;
}
.grid_container_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

h5 {
    margin-top: 0.25em;
}

footer {
    font-family: serif;
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 20px;
}